# Used by: npm run test:integration
PURISTA_AWS_TESTS=0
PURISTA_NATSBRIDGE_TESTS=0
PURISTA_INFISICAL_SECRET_STORE_TESTS=0
PURISTA_INFISICAL_TOKEN=
PURISTA_INFISICAL_BASE_URL=http://localhost:8080/
PURISTA_AZURE_SECRET_STORE_TESTS=0
PURISTA_AZURE_VAULT_URL=https://localhost:8443
PURISTA_GCLOUD_SECRET_STORE_TESTS=0
PURISTA_GCLOUD_CREDENTIALS=/absolute/path/to/gcloud-credentials.json
