@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;900&display=swap');

$--font-family-fancy: 'Raleway', sans-serif !important;
$--font-family: 'Raleway', sans-serif !important;
$--font-family-heading: 'Raleway', sans-serif !important;

body, .blog-main {
  font-family: 'Raleway', sans-serif !important;
  font-size: 18px;
}

header {
  height: 100vh;
}

.features {
  padding-top:100px !important;
  padding-bottom: 100px !important;
}

.hero-info { 
  #main-title {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
  }

  .description {
    font-family: 'Raleway', sans-serif !important;
  }
}

.site-name {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

.action-button {
  i {
    width:30px;
  }
}

.sidebar-links a.nav-link {
  font-size: 1em !important;
  i {
    width: 25px
  }
}

.sidebar-sub-header a.nav-link {
  font-size: 0.9em !important;
  i {
    width: 25px
  }
}

.page-title {
  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

     
}

.theme-hope-content {
  h2 {
    font-size: 1.2em;
    font-weight: bold;
  }

    h3 {
      font-size: 1.0em;
      font-weight: bold;
    }
}


.nav-link {
font-size: 18px !important;
font-weight: 400;
}


.theme-hope-content:not(.custom)>p,
.theme-hope-content:not(.custom)>ul p,
.theme-hope-content:not(.custom)>ol p {
  word-break: keep-all;
}

